#blazor-error-ui {
    color-scheme: dark;
    background: #2a2e36;
    color: #e9ecf1;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.7rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
