@inherits LayoutComponentBase
@implements IDisposable
@using TaskFlow.Presentation.Components.Pages

<MudThemeProvider Theme="@TaskFlowTheme.Theme" IsDarkMode="@isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingValue Name="ToggleTheme" Value="(Func<Task>)ToggleThemeAsync">
    <CascadingValue Value="isDarkMode">
        <CascadingValue Value="homeAppState">
        <MudLayout>
            <AppTopBar IsDarkMode="isDarkMode"
                       OnToggleDrawerRequested="ToggleDrawer"
                       OnToggleThemeRequested="ToggleThemeAsync" />

            <MudDrawer Open="@homeAppState.IsDrawerOpen"
                       OpenChanged="OnDrawerOpenChanged"
                       Elevation="1"
                       Variant="DrawerVariant.Responsive"
                       ClipMode="DrawerClipMode.Always"
                       Width="320px"
                       Class="tf-app-drawer">
                <HomeNavigationDrawer />
            </MudDrawer>

            <MudMainContent Class="tf-main-content">
                @Body
            </MudMainContent>
        </MudLayout>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isDarkMode = true;
    private readonly AppState homeAppState = new();

    protected override void OnInitialized()
    {
        this.homeAppState.Changed += OnHomeStateChanged;
    }

    private Task ToggleThemeAsync()
    {
        this.isDarkMode = !this.isDarkMode;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnDrawerOpenChanged(bool value)
    {
        this.homeAppState.SetDrawerOpen(value);
        return Task.CompletedTask;
    }

    private Task ToggleDrawer()
    {
        this.homeAppState.ToggleDrawer();
        return Task.CompletedTask;
    }

    private void OnHomeStateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        this.homeAppState.Changed -= OnHomeStateChanged;
    }
}
