@page "/settings"

<PageTitle>Settings</PageTitle>

<div class="tf-home">
    <section class="tf-main">
        <header class="tf-toolbar">
            <div>
                <MudText Typo="Typo.h5">Settings</MudText>
                <MudText Typo="Typo.caption">Configuration page placeholder</MudText>
            </div>
        </header>

        <MudPaper Class="tf-focus-timer tf-focus-timer-page" Elevation="0">
            <MudText Typo="Typo.body1">Settings page is ready. We can fill in preferences and account controls next.</MudText>
        </MudPaper>
    </section>
</div>
